.conversations-page {
  .button-container {
    margin-top: 20px;
    text-align: center;

    .button-chat-widget,
    .button-help-widget {
      margin-right: 15px;
    }
    .button-help-widget {
    }
  }
}
